@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mt-5">
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img class="text-center" src="~/files/booktopia_logo.jpg"/>
</div>

<div class="container text-left mt-5">
    <h4><i>World's most popular online bookstore</i></h4>
</div>